
.home {
  padding: 1rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  width: 70%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  color: #fff;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 1rem;
  border-radius: 8px;
}

.banner-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.banner-text p {
  font-size: 1.25rem;
  margin: 0.5rem 0 0 0;
}

.home-content {
  display: flex;
  gap: 1rem;
}

.filter-options {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.filter-group {
  margin-bottom: 1rem;
}

.filter-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.filter-group select,
.filter-group input[type="number"] {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.price-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#priceRangeMin, #priceRangeMax{
  width:30%;
}

.products-list {
  flex: 3;
  padding: 1rem;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}




@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.animate-text {
  display: inline-block;
  animation: fadeInOut 3s ease-in-out infinite;
}


.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.footer-content h2 {
  margin-bottom: 10px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin: 5px 0;
}
